/* SECTION 1 */
.product-heading {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.product-heading .product-head-container {
  margin: 20px;
}
.product-heading .product-head-container h1 {
  font-size: 30px;
  font-weight: bold;
  color: #121212;
}

/* SECTION 2 */
 .product-container {
  width:100%;
  display: flex;
  flex-flow: row wrap;
}


.product-picture {
  width: auto;  
  text-align: center;  
}

.product-picture img {
  max-width: 100%;  
  height: auto;  
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(66, 66, 66, 0.1);
}
.product-detail-body {
  width: 42%;
  padding:0% 3%;
}
.product-detail-body .product-title {
  font-size: 25px;
  font-weight: 500;
  color: #121212;
}
.product-detail-body .product-price {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 500;
}
.product-detail-body .product-about {
  margin-top: 10px;
  padding: 2px;
  color: #121212;
}
.product-detail-body .product-about h4 {
  font-size: 20px;
  font-weight: 500;
  color: #121212;
}
.product-detail-body .buttons {
  margin-top: 20px;
  display: flex;
  gap: 2px;
}
.product-detail-body .buttons .buy-now {
  width: 50%;
  border: none;
  background-color: #ffa41c;
  color: white;
  padding: 8px;
  border-radius: 10px;
}
.product-detail-body .buttons .add-to-cart {
  width: 50%;
  border: 2px solid #ffa41c;
  color: #ffa41c;
  background-color: transparent;
  padding: 8px;
  border-radius: 10px;
}
