/* SECTION 1 */
.product-heading {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.product-heading .product-head-container {
  margin: 20px;
}
.product-heading .product-head-container h1 {
  font-size: 30px;
  font-weight: bold;
  color: #121212;
}

/* SECTION 2 */
.product-detail {
  width: 100%;
  height: 700px;
}
.product-detail .product-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.product-picture {
  width: 50%;
}
.product-picture img {
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(66, 66, 66, 0.1);
}
.product-detail-body {
  width: 50%;
}
.product-detail-body .product-title {
  font-size: 25px;
  font-weight: 500;
  color: #121212;
}
.product-detail-body .product-price {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 500;
}
.product-detail-body .product-about {
  margin-top: 10px;
  color: #121212;
}
.product-detail-body .product-about h4 {
  font-size: 20px;
  font-weight: 500;
  color: #121212;
}
.product-detail-body .buttons {
  margin-top: 20px;
  display: flex;
  gap: 2px;
}
.product-detail-body .buttons .buy-now {
  width: 50%;
  border: none;
  background-color: #ffa41c;
  color: white;
  padding: 8px;
  border-radius: 10px;
}
.product-detail-body .buttons .add-to-cart {
  width: 50%;
  border: 2px solid #ffa41c;
  color: #ffa41c;
  background-color: transparent;
  padding: 8px;
  border-radius: 10px;
}
.product-detail-body .buttons .buy-now:hover,
.product-detail-body .buttons .add-to-cart:hover{
  cursor: pointer;
}