@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* VARIABLES */
:root {
  --major-bg-color: #131921;
  --minor-bg-color: #ebeded;
  --amazon-major-color: #febd68;
  --accent-color: #293546;
}

/* BODY */
body {
  background-color: var(--minor-bg-color);
}

/* HEADER */
.header {
  width: 100%;
  height: 80px;
  background-color: var(--major-bg-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.mini-header{
  width: 100%;
  height: 45px;
  background-color: var(--accent-color);
}

.items{
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  
}
.items>div{
  margin-top: 0.75%;
  
}
.items>div:hover{
  border:1px solid white;
  cursor: pointer;
}

.amazon-logo{
  margin-top: auto;
  margin-left: 20px;
  height: 70%;
  width: 80%;
  padding: 5px;
}
.amazon-logo:hover{
  border: 1px solid white;
  cursor: pointer;
}
.header-nav {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.nav-location{
  
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}
.wrap-location :hover{
 
  cursor: pointer;
}
.nav-location-info{
  margin-left: 10px;
  margin-top: 10px;
}
.location-icon{
  margin-top: 6%;
}
.line1{
  color: rgb(201, 194, 194);
}
.line2{
  color: white;
  font-weight: 800;
}


 .header-search {
  margin-left: 20px;
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}
.custom-select{
  height: 47px;
  width: 60px;
  cursor: pointer;
  background-color: rgb(214, 207, 207);
  
}



.custom-select:hover{
  background-color: rgb(180, 173, 173);
}
select option{
  background-color: white;
}

 .search-input {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  padding: 0 10px;
}

.search-button {
  width: 50px;
  height: 47px;
  /* border-radius: 5px; */
  background-color: var(--amazon-major-color);
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #232323;
  cursor: pointer;
}
.search-button:hover{
  background-color: orange;
}
.country{
  margin-left:20px;
  margin-top: 15px;
}
.language{
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: none;
  padding: 5px;
}
.language:hover{
  border: 1px solid white;
  cursor: pointer;
}

.account-info{
  margin-left: 20px;
  margin-top: 5px;
  padding: 2px;
}

.account-info:hover{
border: 1px solid white;
cursor: pointer;
}

.account-select{
  background-color: transparent;
  color: white;
  border: none;
  
  font-weight: 800;
  padding-left: 0%;
}

.account-option{
  background-color: white;
  font-weight: 800;
  padding-left: 0%;
}

.line3{
  color: white;
  font-size: 13px;
  font-weight: 500;
}

.line4{
  color: white;
  font-weight: 800;
  margin-top: 1px;
}

.returns{
  margin-top: 8px;
  padding: 5px;
  margin-left: 20px;
}

.returns:hover{
  border: 1px solid white;
  cursor: pointer;
}

 .header-cart {
  color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-weight: 800;
}
.header-cart:hover{
  cursor: pointer;
  border: 1px solid white;
}
 svg {
  width: 40px;
  height: 40px;
}
.header-cart>p{
  margin-top: 10px;
}

/* SECTION 1 */
.section-1 {
  width: 100%;
  height: auto;
  background: url("https://images-eu.ssl-images-amazon.com/images/G/31/img22/Fashion/Gateway/BAU/Aug/Apay/GW-PC-Deals-Unrec-3000._CB629506848_.jpg");
  background-size: cover;
  display: flex;
}
.section-1 .section-1-container {
  margin-top: 300px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.section-1 .section-1-container .section-1-column {
  width: 100%;
  /* height: 300px; */
  background-color: white;
  padding: 20px;
}

.section-1 .section-1-container .section-1-column img {
  margin-top: 20px;
  width: 100%;
  height: auto;
  cursor:pointer;
}
.section-1 .section-1-container .section-1-column p {
  margin-top: 10px;
  font-size: 14px;
  color: #007185;
}
.section-1 .section-1-container .section-1-column button {
  margin-top: 10px;
  width: 100%;
  border: none;
  background-color: var(--amazon-major-color);
  padding: 8px;
  border-radius: 10px;
}

/* SECTION 2 */
.section-2 {
  margin: 20px;
  padding: 20px;
  background-color: white;
}
.section-2 .section-2-container h3 {
  margin-bottom: 10px;
}
.section-2 .section-2-container .product-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.section-2 .section-2-container .product-card {
  display: inline-block;
  width: 300px !important;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 .section-2-container .product-card img {
  width: auto;
  height: auto;
  max-width: 270px;
  max-height: 200px;
  cursor:pointer;
}

/* SECTION 3 */
.section-3 {
  background-color: white;
}
.section-3 .section-3-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}
.section-3 .section-3-container .product-detail-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card {
  display: inline-block;
  width: 200px !important;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.section-3
  .section-3-container
  .product-detail-cards
  .product-detail-card
  .product-detail-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card img {
  width: 100%;
  height: auto;
  max-width: 160px;
  max-height: 140px;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card a {
  text-decoration: none;
  color: #007185;
  font-size: 14px;
}
.section-3
  .section-3-container
  .product-detail-cards
  .product-detail-card
  a:hover {
  color: #c45500;
}
.section-3
  .section-3-container
  .product-detail-cards
  .product-detail-card
  .product-deliver-by {
  color: #222;
  font-size: 10px;
}

/* SECTION 4 */
.section-4 {
  /* background-color: white; */
  padding: 20px;
}
.section-4 .section-4-container {
  /* border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-4 .section-4-container p {
  margin: 4px;
  font-size: 14px;
}
.section-4 .section-4-container button {
  width: 300px;
  border: none;
  background-color: var(--amazon-major-color);
  padding: 8px;
  border-radius: 10px;
}

/* SECTION 5 */

.section-5 .section-5-container a:link, a:visited {
  display: block;
  text-align: center;
  padding: 15px 0;
  line-height: 22px;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
}

.section-5 .section-5-container a:hover, a:active {
  background-color: #37485f;
}

/* FOOTER */
footer {
  font-size: 12px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: var(--major-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover1 figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.hover1 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.nav-footer{
  display: flex;
  background-color:#232F3E;
  justify-content: center;
  padding:5px;
}

.nav-footer h4{
  font-size: 15px;
  font-weight: 600;
  color: #FFF;
}

.nav-footer p{
  font-size: 12px;
  padding:4px 0 4px;
  color: #DDD;
  font-family: inherit;
  text-decoration: none;
}

.nav-footer-left{
  display: table-cell;
  padding: 2% 6%;
}

.nav-footer-right{
  display: table-cell;
  padding: 2% 5%;
}